<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codedetail</title>
       <meta name="viewport" content="width=divce-width,initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
           <div class="navbar-header">
               <a class="navbar-brand" href="/port/index/">主页</a>
           </div>
           <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li class="active"><a href="/port/porttest/">接口测试</a></li>
                   <li><a href="/port/code/">测试脚步</a></li>
               </ul>

               <ul class="nav navbar-nav  navbar-right">
                    <li class="active "><a  href="/port/code/" >返回</a></li>
                </ul>

           </div>
       </div>
   </nav>

    <br><br><br>
    <div class="container">
        <h2>{{ code.name }}</h2>
        <h5>{{ code.discribe }}</h5>
        <h4>
        <div class="well">{{ code.content }}</div>
        </h4>
        <!--<textarea cols="100" rows="8" name=text style="overflow:hidden;BACKGROUND: #BFCEDC;BORDER: #7F9DB9 1px solid; ">-->
            <!--{{ code.content }}</textarea>-->
    </div>
</body>
</html>