<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>code</title>
    <meta name="viewport" content="width=divce-width,initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
           <div class="navbar-header">
               <a class="navbar-brand" href="/port/index/">主页</a>
           </div>
           <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li class="active"><a href="/port/porttest/">接口测试</a></li>
                   <li><a href="/port/code/">测试脚步</a></li>
               </ul>

                <ul class="nav navbar-nav navbar-brand navbar-right">
                    <li class="active "><a  href="/port/editcode/0" >新的脚步</a></li>
                </ul>

               <ul>
                   <li><div class="page-header" style="padding-top: 30px">
                       <div id="navbar1" class="navbar-collapse collapse">
                          <form class="navbar-form" method="get" action="/port/search_name/">
                           <div class="form-group">
                               <input name="name" type="text" placeholder="名称" class="form-control">
                           </div>
                              <button type="submit" class="btn btn-success">搜索</button>
                          </form>
                        </div>
                        </div>
                   </li>
               </ul>
           </div>
       </div>
   </nav>
<br><br><br><br><br><br><br><br>

<div class="container">
<div class="row" style="padding-top: 5px;">
    <div class="col-md-12">
        <table class="table table-striped">
            <caption></caption>
            <thead>
            <tr>
                <th>id</th><th>名称</th><th>描述</th><th>时间</th><th>编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for code in codes %}
             <tr>
                 <td>{{ code.id }}</td>
                 <td>{{ code.name }}</td>
                 <td>{{ code.discribe }}</td>
                 <td>{{ code.pub_time }}</td>
                 <td>
                     <a href="/port/codedetail/{{ code.id }}/" target="{{ code.id }}_blank">
                         查看</a>
                     <a href="/port/editcode/{{ code.id }}/" target="{{ code.id }}_blank">
                         修改</a>
                     <a href="/port/codedelete/{{ code.id }}" target="{{ code.id }}_blank" onclick="rec()">删除</a>
                 </td>
             </tr>
            {% endfor %}
                </tbody>

        </table>
    </div>
</div>
    <script style="text/javascript" >
        function rec()
        {
           var message = confirm("您确定删除此篇脚步吗？")
           if (message==true)
           {
              var mywin=window.action('/port/codedelete/{{ code.id }}')
           }
         }
    </script>

    </div>

<div class="container">
      <div class="nav navbar-nav navbar-brand navbar-right">
      <div class="pagination" style="padding-top:200px;">
         <span class="step-links">
             {% if codes.has_previous %}
              <a href="?page={{ codes.previous_page_number }}">上一页</a>
                {% endif %}
                <span class="curren">
                   {{ codes.number }}/{{ codes.paginator.num_pages }}
                </span>
                {% if codes.has_next %}
                 <a href="?page={{ codes.next_page_number }}">下一页</a>
                {% endif %}
            </span>
            </div>
            </div>
</div>

</body>
</html>