<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editcode</title>
    <meta name="viewport" content="width=divce-width,initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form action="port/editaction" method="post">
    {% csrf_token %}
<nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
           <div class="navbar-header">
               <a class="navbar-brand" href="#">主页</a>
           </div>
           <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li class="active"><a href="/port/porttest/">接口测试</a></li>
                   <li><a href="/port/code/">测试脚步</a></li>
               </ul>
              <ul class="nav navbar-nav  navbar-right">
                    <li class="active "><a  href="/port/code/" >返回</a></li>
                </ul>
           </div>
       </div>
   </nav>
   <br><br><br><br>

  <form role="form" class="form-horizontal">
      <div class="form-group">
        <div class="container">
          <input type="hidden" name="code_id" value="{{ code.id | default:'0' }}">

          <div class="form-group">
          <label  for="name" >代码标题</label>
              <input type="text"  class="form-control" name="name" value="{{ code.name }}">
          </div>
          <div class="form-group">
              <label for="name" >代码描述</label>
              <input type="text" class="form-control" name="discribe" value="{{ code.discribe }}">
          </div>
          <div class="form-group">
              <label for="name" >具体代码</label>
              <input type="text" class="form-control" name="content" value="{{ code.content }}">

          </div>
         <input type="submit" value="确定">
      </div>
    </div>
 </form>

</form>
</body>
</html>